alias gs="git status"
alias gl="git log"
alias gcom="git checkout master"
alias gaa="git add ."
alias gc="git commit -m "
alias gp="git push"
alias nah="git reset --hard && git clean -df"
alias cl="clear"
alias reboot="sudo systemctl restart"
alias sail="./vendor/bin/sail"
alias lock="source /home/samwir/.aliases && i3lock -i /home/samwir/Pictures/Wallpapers/mikael-gustafsson-wallpaper-mikael-gustafsson.png"
alias shutports="sudo service apache2 stop && sudo service mysql stop"
